<a href="https://colab.research.google.com/github/atulpatil2228/pwlectures/blob/main/file_reading_and_writing_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
text_content ="""
example1
example2
example3
"""

In [3]:
with open("example.text","w") as file:
  file.write(text_content)

In [5]:
with open("example.text","r") as file :
  data = file.read()


print(data)

example1
example2
example3

In [11]:
## CSV >> comma seprated values


data = [["Name","Course","Fee"],
        ["ajay","DS","1000"],
        ["Atul","ML","2000"]]

In [12]:
data

[['Name', 'Course', 'Fee'], ['ajay', 'DS', '1000'], ['Atul', 'ML', '2000']]

In [13]:
for i in data :
  print(i)

['Name', 'Course', 'Fee']
['ajay', 'DS', '1000']
['Atul', 'ML', '2000']

In [15]:
import csv

with open("example_csv.csv" ,"w") as f :
  w = csv.writer(f)
  for i in data:
    w.writerow(i)

In [16]:
with open("example_csv.csv" ,"r") as f :
  r = csv.reader(f)
  for i in r :
    print(i)

['Name', 'Course', 'Fee']
['ajay', 'DS', '1000']
['Atul', 'ML', '2000']

In [17]:
## json >> javascript object notation
data = {"name":"ajay",
        "course" :"DA",
        "fee" : 2900}

In [18]:
type(data)

dict

In [19]:
import json
with open("json1.json" ,"w") as f :
  json.dump(data,f)

In [21]:
with open("json1.json" ,"r") as f :
  data = json.load(f)


print(data)

{'name': 'ajay', 'course': 'DA', 'fee': 2900}

In [22]:
with open ("test_bin.bin","wb") as f : ## not that usefull
  f.write("")

TypeError: a bytes-like object is required, not 'str'

In [24]:
with open("test_bin.bin","rb") as f :
  print(f.read())

b''

In [25]:
## bufered reading >> it allows the program to read the data in chunks
## buffered writing >>

In [27]:
import io
with open("test_buf.txt","wb") as f :
  file = io.BufferedWriter(f)
  file.write(b"bbb")
  file.write(b"aaa")
  file.write(b"atul")
  file.flush()

In [28]:
with open("test_buf.txt","rb") as f :
  file = io.BufferedReader(f)
  data  = file.read(100) ## 100 bytes
  print(data)

b'bbbaaaatul'